@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: clip;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --border: 1px solid black;
    --border-2px: 1.8px solid #A3A3A3;
    --border-white: 2px solid #cfcfcf;
    --Color-Button-Button-yellow: #2563EB;
    --Color-Text-Text-White: #FFF;
    --Color-Text-Text-black: #3F3F46;
    --Color-Border-Border-grey: #A3A3A3;
    --Light-blue: #E0E7FF;
    /* fontsizes */
    --h2: 3.3rem;
}

.visible {
    animation: visible 1s ease forwards;
}

@keyframes visible {
    0% {
        opacity: 0;
        transform: translateY(60px);
        transition: 0.8s;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transition: 0.8s;
    }
}

main {
    width: 100%;
    height: auto;
    overflow: hidden;
    /* border: var(--border); */
}

header {
    width: 100%;
    height: auto;
    /* margin-bottom: 146px; */
    padding: 1.25rem 12.063rem;
    position: fixed;
    z-index: 90;
}

.head {
    border-bottom: 1.5px solid #ebf0f4;
    background: linear-gradient(180deg, #fcfcfc 0%, rgb(220 220 220 / 50%) 134.91%);
    backdrop-filter: blur(27px);
    transition: all 0.4s ease;
    /* margin-bottom: 146px; */
}

.inner {
    max-width: 1536px;

}

.container {
    padding: 0 20px;
}

/* golbal button */
.btn-primary {
    max-width: 245px;
    min-width: 44px;
    min-height: 44px;
    background: var(--Color-Button-Button-yellow, #2563EB);
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 40px;
    border: none;
    gap: 8px;
}

.btn-primary img {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 0.857px;
    justify-content: center;
    align-items: center;
}

.btn-primary p {
    color: var(--Color-Text-Text-White, #FFF);
    text-align: center;
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.48px;
}

.contactno {
    background-color: var(--Color-Button-Button-yellow);
    color: var(--Color-Text-Text-White);
    padding: 0.9rem 2.5rem;
    gap: .8rem;
    border-radius: 4px;

}

.contactno:hover {
    background: #3c79ff;

}


.contact-number {
    color: var(--Color-Text-Text-White, #FFF);
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.48px;
}

/* start header */
.information {
    width: 100%;
    height: 100%;
}

.information-inner {
    margin: 0 auto;
    /* border: var(--border); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info,
.location,
.contactno {
    display: flex;
    align-items: center;

}

.info {
    gap: 40px;

    justify-content: space-between;

}

.location {
    justify-content: center;
    gap: .8rem;


}

.location-name {
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.48px;
}

/* end header */

/* start banner */
.banner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 146px;
}

.banner::before {
    content: "";
    position: absolute;
    width: 1057px;
    height: 1057px;
    border-radius: 1057px;
    background: rgba(113, 157, 255, 0.15);
    filter: blur(115.05000305175781px);
    right: 0;
    top: 0;
    pointer-events: none;

}

.banner-inner {
    /* border: var(--border); */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.banner-details {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.25rem;
}

.banner-details-text1 h2,
.banner-details-text2 p {
    color: var(--Color-Text-Text-black);
}

.banner-details-text1 {
    display: flex;
    max-width: 885px;
    flex-direction: column;
    justify-content: center;
}

.banner-details-text1 h2 {
    color: var(--Color-Button-Button-black, #3F3F46);
    font-family: "Plus Jakarta Sans";
    font-size: var(--h2);
    font-style: normal;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0.6px;
}

.banner-details-text2 {
    display: flex;
    max-width: 491px;
    flex-direction: column;
    justify-content: center;
}

.banner-details-text2 p {
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.16px;
}

.banner-img {
    width: 100%;
    height: 850px;
    background-image: url('./images/banner-img.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



/* end banner */

/* start overall-report */
.overall-report {
    width: 100%;
    height: auto;
    margin-top: 100px;
    position: relative;
}

.overall-report::before {
    content: "";
    position: absolute;
    width: 1057px;
    height: 1057px;
    border-radius: 1057px;
    background: rgba(113, 157, 255, 0.15);
    filter: blur(115.05000305175781px);
    left: -484px;
    top: 0;

}

.overall-report-inner {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    /* border: var(--border); */
}

.report-no {
    width: 100%;
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
}

.counting {
    max-width: 1241px;
    display: flex;
    /* justify-content: space-between; */
}

.counting span {
    color: var(--Color-Text-Text-black, #3F3F46);
    /* usg/<h2> */
    font-family: "Plus Jakarta Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 84px */
    letter-spacing: 0.6px;
    display: flex;
    right: 10px;
}

.counting h2 {
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Plus Jakarta Sans";
    font-size: 19.613rem;
    font-weight: 300;
    max-width: 1200px;
}

.complete-scean {
    display: flex;
    align-items: flex-end;
}

.complete-scean p {
    max-width: 255px;
    color: var(--Color-Text-Text-black, #3F3F46);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.72px;
}

.strok {
    width: 100%;
    border-bottom: 1px solid #A3A3A3;
    /* border: var(--border); */
    margin: 80px 0px 80px 0px;

}

.specialty {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    /*gap: 35px;
  
    overflow-x: auto;position: relative;
    right: 0; */
}

.specialty-inner {
    width: 1729px;
    display: flex;
    gap: 20px;
    /* border: var(--border); */
    overflow-x: auto;
    position: relative;
    right: 0;
}

.specialty-content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4.0rem;
    list-style: none;
    padding-left: 20px;



}

.specialty-content a {
    text-decoration: none;
    background-color: var(--Color-Button-Button-yellow);
    color: var(--Color-Text-Text-White);
    padding: 1.4rem 4.0rem;
    gap: .8rem;
    display: flex;
    align-items: center;

}

.specialty-content-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.specialty-content-text1 {
    color: var(--Color-Text-Text-black, #27272A);
    font-family: "Plus Jakarta Sans";
    font-size: var(--h2);

    font-style: normal;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0.6px;
}

.specialty-content-text2 {
    color: var(--Color-Button-Button-black, #3F3F46);
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.48px;
}

.specialty-content-images {
    height: 600px;
    position: relative;
}

.wrapper {
    width: 100%;
    height: calc(100% - 30px);

}

.review-scroll1 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.review-scroll1 img:hover {
    /* background-color: #00000038; */
    background: #3c79ff;
    color: var(--Color-Text-Text-White, #FFF);
    border-radius: 50%;
}

.paginations {
    margin-top: 15px;
    position: absolute;
}

.specialty-content-images::-webkit-scrollbar {
    display: none;
}

.specialty-content-images.swiper {
    padding-bottom: 4rem;
    flex: 2;
}

.specialty-content-images .swiper-pagination {
    width: 100% !important;
    position: absolute;
    bottom: 2rem !important;

}

.swiperbuttonprev1:hover {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.swiperbuttonprev1.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;

}

.swiperbuttonnext1.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.swiper-buttonprev.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;

}

.swiper-buttonnext.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.specialty-content-img {
    display: flex;
    /* background-image: url('./images/service12.jpg'); */
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 490px;
    height: 540px !important;
}

.content-img-items {
    padding: 30px 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    text-align: left;
}

.content-img-text {
    max-width: 369px;
    width: 100%;
    color: var(--Color-Button-Button-white, #FFF);
    font-family: "Plus Jakarta Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.32px;
}

.pagination-btn {
    margin: 0 auto;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform, .2s left;
    width: 13px;
    height: 13px;
}

.arrow {
    border: var(--border-2px);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #A3A3A3;

}

.arrow span {}

.arrow:hover {
    background-color: #3c79ff;
    color: #fff;
    font-weight: 500;
    border: var(--border-white);
}

/* ----------------about section
---------------- */
.about {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.about-inner {
    /* border: var(--border); */
    margin: 0 auto;
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.about-img {
    width: 54%;
    height: 590px;
}

.about-img img {

    width: 100%;
    height: 100%;
}

.about-text {
    width: calc(100% - 54%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.about-header,
.about-text-content {
    display: flex;
    flex-direction: column;
}

.about-text-content {
    gap: 24px;
}

.about-header {}

.about-text-1 {}

.about-text-1 h4 {
    color: var(--Color-Text-Text-black, #3F3F46);

    font-family: "Plus Jakarta Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.72px;
}

.about-text-2 {
    max-width: 573px;
}

.about-text-2 h2 {
    font-size: var(--h2);
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    letter-spacing: 0.6px;
}

.about-text-3 {
    max-width: 627px;

}

.about-text-3 p {
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.16px;
}

.about-text-4 {
    max-width: 617px;

}

.about-text-4 p {
    font-size: 1rem;
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.16px;

}


/* appointment section */
.appointment {
    width: 100%;
    height: auto;
    margin-top: 100px;
    background: #F3F6FF;
    padding: 80px 0px 109px 0px;
}

.appointment-inner {
    width: 100%;
    /* border: var(--border); */
    display: flex;
    margin: 0 auto;
    gap: 90px;

}

.appointment-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;


}

.appointment-img-inner {
    width: 100%;
    height: 425px;

}

.appointment-img-inner img {
    width: 100%;


}

.appointment-setps {
    width: 50%;
    height: auto;
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
}

.appointment-img-text1 h2 {
    max-width: 573px;
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Plus Jakarta Sans";
    font-size: var(--h2);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    letter-spacing: 0.6px;
}

.appointment-img-text2 p {
    max-width: 617px;
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 28.8px */
    letter-spacing: 0.16px;
}

.appointment-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}


.appointment-setps-inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* -------------------
step----------------- */
.stepes {
    max-height: 115px;
    display: flex;
    gap: 32px;
    position: relative;
}

.stepes1::before {
    content: "------------";
    position: absolute;
    transform: rotate(1.5708rad);
    bottom: -52px;
    left: 6px;
    color: #8ba0e9;
}

.step-no p {
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.32px;

}

.step1 {
    width: 109px;
    height: 109px;
    border-radius: 125px;
    background: var(--Light-blue, #E0E7FF);
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step2 {
    width: 108px;
    height: 108px;
    border-radius: 79px;
    background: var(--Light-blue, #E0E7FF);
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step3 {
    width: 107px;
    height: 107px;
    border-radius: 125px;
    background: var(--Light-blue, #E0E7FF);
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-instraction {
    max-width: 550px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.step-instraction-text1 {
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Plus Jakarta Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.32px;
}

.step-instraction-text2 {
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.scan {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 80px;
    gap: 10px;
}

.btn-primary:hover {
    background: #3c79ff;
}

.btn .scan-text {
    text-decoration: none;
    color: var(--Color-Text-Text-White, #FFF);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    letter-spacing: 0.48px;

}

/* review-section */
.review-section {
    width: 100%;
    height: auto;
    margin: 100px 0px 100px 0px;
}

.review-section-inner {
    margin: 0 auto;
    /* border: var(--border); */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
}

.review-info {
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.review-info-text1 {
    max-width: 628px;
    color: var(--Color-Button-Button-black, #3F3F46);
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.review-info-text2 {
    max-width: 438px;
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.google-rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 14px;
}

.review-right {
    overflow: hidden;
}

.reviewes {
    background: var(--Color-Background-BG-Black, #3F3F46);
    height: 463px;
}

.reviewes-inner {
    display: inline-flex;

    padding: 60px;
    gap: 15px;
}

.reviewes-img,
.reviewes-details,
.reviewes-name {
    margin-bottom: 10px;
}

.reviewes-img {
    max-width: 152px;
}

.reviewes-details {
    color: var(--Color-Text-Text-White, #FFF);
    font-family: "Plus Jakarta Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.72px;
    margin: 15px 0px 15px 0px;
}

.reviewes-name {
    color: var(--Color-Text-Text-White, #FFF);
    font-family: "Plus Jakarta Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.72px;
}

.review-scroll {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    right: 60px;
    bottom: 20px;
    z-index: 20;
}

.review-scroll img:hover {
    background-color: #ffffff4d;
    border-radius: 50%;
}

/* mri img section */


.mri-img-section {
    width: 100%;
    height: auto;
    position: relative;
}

.mri-img-section::before {
    content: "";
    position: absolute;
    width: 817px;
    height: 1057px;
    border-radius: 1057px;
    background: rgba(113, 157, 255, 0.15);
    filter: blur(115.05000305175781px);
    left: -116px;
    top: 0;
}

.mri-img-inner {
    /* border: var(--border); */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.mri-img {
    height: 600px;
    background-image: url('./images/feature-img.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.mri-img-text {
    width: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 85px;
}

.mri-img-text p {
    max-width: 530px;

    color: var(--Color-Text-Text-White, #FFF);

    /* usg/<h3> */
    font-family: "Plus Jakarta Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 41.6px */
    letter-spacing: 0.32px;
}

.mri-img-inner .mri-img-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 104px;
}

.mri-img-inner .mri-img-content .mri-content-title {
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* border: var(--border); */

}

.mri-img-inner .mri-img-content .mri-steps-title {
    width: calc(100% - 42%);

    /* border: var(--border); */
}

.mri-img-inner .mri-img-content .mri-content-title .mri-content-title-text1 p {
    color: var(--Font-color, #4F4F4F);
    font-family: "Plus Jakarta Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.72px;
    margin-bottom: 16px;
}

.mri-content-title-text2 {
    max-width: 584px;
}

.mri-img-inner .mri-img-content .mri-content-title .mri-content-title-text2 p {
    color: var(--Font-color, #4F4F4F);
    font-family: "Plus Jakarta Sans";
    font-size: var(--h2);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.6px;


}

.mri-btn {
    width: 245px;
    margin-top: 80px;
}

.mri-steps-title-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;


}

.mri-steps-title-inner .steps1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mri-steps-title-inner .steps1 .mri-step {
    width: 45%;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 60px;
    display: flex;
    padding: 18px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 120px;
    background: var(--Light-blue, #E0E7FF);
}


.mri-steps-title-inner .steps1 .mri-step .logo-text {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mri-steps-title-inner .steps1 .mri-step .logo-text .logo-text1 {
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Plus Jakarta Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.72px;

}

.mri-steps-title-inner .steps1 .mri-step .logo-text .logo-text2 {
    max-width: 356px;

    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.16px;
}

/* start-qustions section  */
.qustions {
    width: 100%;
    height: auto;
    margin-top: 100px;
    background-color: #F3F6FF;
    padding: 100px 0px 100px 0px;
}

.qustions-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* border: var(--border); */
    display: flex;
    gap: 70px;

}

.qustion-banner {
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.qustion-banner-title {
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Plus Jakarta Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.6px;
}

.qustion-banner .qustion-banner-img {
    max-width: 621px;
    height: 435px;
    background-image: url('./images/faq-img.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.qustion-banner-qus {
    width: calc(100% - 47%);
    width: calc(100% - 47%);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.qustion-banner-qus-text {
    width: 100%;
}

.faq {
    width: 100%;
    border-bottom: 1px solid #A3A3A3;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.qus-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 40px 0px;
}

.qus-box-text p {
    max-width: 682px;
    color: var(--Color-Text-Text-black, #3F3F46);
    font-family: "Plus Jakarta Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.32px;
}

.ans-box {
    max-height: 0px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    transition: 0.5s ease;
}


.faq.active .ans-box {
    max-height: 120px;
    padding-bottom: 20px;
    animation: fade 1s ease-in-out;

}

.minus-icon {
    width: 42px;
    height: 42px;
    position: relative;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.minus-icon span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--Color-Text-Text-black);
    transition: .5s ease;
}

.minus-icon span:nth-child(2) {
    transform: rotate(90deg);
    transform-origin: center;
    position: absolute;
    left: auto;
    top: auto;
}

.faq.active .minus-icon span:nth-child(2) {
    transform: rotate(0deg);
}

.faq.active .qus-box .svg .nagetive {
    transform-origin: center;
    transition: .5s ease !important;
}

.faq.active .qus-box .svg .nagetive {
    transform: rotate(90deg);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* start-footer section */


footer {
    width: 100%;
    height: auto;
    background: var(--Color-Background-BG-Black, #3F3F46);
    padding: 2.5rem 0px 2.5rem 0px;
}

.footer-inner {
    width: 100%;
    margin: 0 auto;
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-inner .footer-logos {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.footer-inner .footer-logos .company-logo {
    width: 197px;

}

.footer-inner .footer-logos .company-logo img {
    width: 100%;

}

.footer-inner .company-soscial-logo {
    display: flex;
    gap: 32px;

}

.footer-inner .company-soscial-logo a {

    display: flex;
    width: 44px;
    height: 44px;

    justify-content: center;
    align-items: center;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.16);
}

.soscial-logo {
    width: 50px;
}

.footer-options {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.our-location {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.our-location p {
    color: var(--Color-Text-Text-White, #FFF);

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
}

.our-location .location-option {
    display: flex;
    gap: 72px;
}

.our-location .location-option .option {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.our-location .location-option .option a {
    text-decoration: none;
    color: var(--Color-Text-Text-White, #FFF);

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.48px;
}

.footer-options .our-contact {
    display: flex;
    gap: 27px;
    align-items: center;
    justify-content: center;
}

.footer-options .our-contact .our-contact-text {
    max-width: 202px;
}

.footer-options .our-contact .our-contact-text p {
    color: var(--Color-Text-Text-White, #FFF);


    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
}

.strock {
    margin: 32px 0px 32px 0px;
    border-bottom: 1px solid #A3A3A3;
}

.footer-desctiption {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-desctiption .footer-desctiption-text {
    max-width: 757px;
}

.footer-desctiption .footer-desctiption-text p {
    color: var(--Color-Text-Text-White, #FFF);
    font-family: "Work Sans";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.42px;
}

.back-top {
    max-width: 165px;
    height: 44px;
    display: flex;
    gap: 19px;
    justify-content: center;
    align-items: center;
}

.back-top p {
    /* max-width: 95px;
    max-height: 29px; */
    color: #FFF;
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.48px;
}

.footer-desctiption .back-top .up-arow {
    border: 1px solid #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    height: 46px;
    padding: 0px 9px 0 9px;
}

.footer-desctiption .back-top .up-arow:hover {
    border: 1px solid #FFF;
    background-color: #ffffff33;
}



/* --------
responsive-------- */
@media (max-width:1440px) {
    .counting {
        width: 1023px;
    }

    .counting h2 {
        font-size: 15.6rem;
    }

    .banner-img {
        height: 644px;
    }

    .step-instraction {
        max-width: 425px;
    }
}

@media only screen and (max-width:1366px) {
    .counting h2 {
        font-size: 15.513rem;
    }

    .appointment {
        margin-top: 80px;
    }

    .review-section {
        width: 100%;
        height: auto;
        margin: 80px 0px 80px 0px;
    }

    .qustions {
        padding: 80px 0px 80px 0px;
    }

    .qus-box-text p {
        font-size: 1.7rem
    }

    ;
}

@media (max-width:1284px) {
    .qus-box-text p {
        font-size: 1.8rem;
    }

    .counting h2 {
        font-size: 15.513rem;
    }

    .mri-img {
        height: 485px;
    }
}


@media (max-width:1024px) {
    header {
        padding: 1.25rem 3.063rem;
        margin-bottom: 38px;
    }

    :root {
        --h2: 2.75rem
    }

    .banner-img {
        height: 453px;
    }

    .banner-details-text1 h2 {
        line-height: 69px;
    }

    .counting {
        width: 720px;
    }

    .counting h2 {
        font-size: 10rem;
    }

    .counting span {
        font-size: 3rem;
    }

    .report-no {
        gap: 47px;
    }

    .about-inner {
        gap: 31px;
    }

    .about-img {
        max-width: 451px;
        max-height: 297px;
    }

    .specialty-content-text1 {
        line-height: 61px;
    }

    .mri-img {
        height: 384px;
    }

    .qustion-banner-title {
        font-size: 2.75rem;
    }



    .btn-primary {
        padding: 13px 26px;
    }

    .appointment-inner {
        gap: 0;
        justify-content: space-between;
    }

    .appointment-img {
        width: 46%;
    }

    .step-instraction {
        max-width: 315px;
    }

    .specialty-content {
        gap: 3rem;
    }

    .btn-primary img {
        display: flex;
        width: 23px;
        height: 23px;
    }
    .reviewes {

        height: auto;
    }
    .reviewes-inner p {
        font-size: 1.3rem;
    }

    .step-instraction-text1 {
        font-size: 1.8rem;
    }

    .step-instraction-text2 {
        font-size: 0.875rem;
    }

    .appointment-img-text2 p {
        font-size: 0.875rem;
    }

    .review-info-text1 {
        font-size: 2.75rem;
    }

    .qus-box-text p {
        font-size: 1.5rem;
    }

    .option a {
        font-size: 0.875rem;
    }


    .about-text {
        gap: 16px;
    }

    .appointment-img-text1 h2 {
        line-height: 116%;
    }

    .appointment-content {
        gap: 2rem;
    }

    .qustion-banner .qustion-banner-img {
        width: 100%;
        height: 283px;

    }

    .qus-box-text p {
        max-width: 445px;
    }

    .mri-steps-title-inner .steps1 .mri-step .logo-text .logo-text2 {
        font-size: 0.875rem;
        max-width: 223px;
    }

    .mri-img-inner .mri-img-content .mri-content-title .mri-content-title-text2 p {
        line-height: 112%;
    }

    .mri-img-text {
        bottom: 55px;
    }

    .mri-img-text p {
        font-size: 1.8rem;
        max-width: 487px;
    }
}

@media (max-width:998px) {


    .banner-details {
        flex-direction: column;
        gap: 3.25rem;
    }

    .banner-details-text2 {
        max-width: 600px;
    }

    /* .complete-scean p {
        font-size: 2rem;
    } */

    .report-no {
        gap: 14px;
    }

    .counting {
        width: 525px;
    }

    .counting h2 {

        font-size: 7.8rem;
    }

    .complete-scean p {
        font-size: 1.1rem;
    }

    .specialty-content-images.swiper {
        padding-bottom: 37rem;
        flex: 1.4;
    }
    .container {

        margin-top: 20px;
    }
    .specialty-content-images .swiper-pagination {
        bottom: 0 !important;
    }

    .mri-img {
        height: 289px;
    }

    .about-inner,
    .appointment-inner,
    .mri-img-content,
    .qustions-inner {
        flex-direction: column;
        align-items: center;
    }

    .appointment-inner {
        gap: 23px;
    }

    .about-img,
    .appointment-img,
    .about-text,
    .appointment-setps,
    .qustion-banner,
    .qustion-banner-qus {
        width: 90%;
    }

    .appointment-setps-inner {
        justify-content: center;
        align-items: center;
    }

    .appointment-setps {
        align-items: center;
    }

    .mri-img-inner .mri-img-content .mri-content-title {
        width: 90%;
    }

    .mri-img-inner .mri-img-content .mri-steps-title {
        width: 90%;
    }

    .footer-desctiption .footer-desctiption-text {
        max-width: 535px;
    }

    .our-location .location-option .option a {
        font-size: 0.875rem;
    }

    .footer-options .our-contact .our-contact-text p {
        font-size: 0.875rem;
    }

    .footer-options .our-contact {
        gap: 20px;
        align-items: flex-start;
        flex-direction: column;
    }

    .contact-number {
        font-size: 0.875rem;

    }

    .our-location .location-option {

        gap: 25px;
    }

    .contactno {
        padding: 0.4rem 1rem;
    }

    /* .specialty {
        flex-direction: column;
    } */

    .swiper {
        width: 95%;
        height: 477px;
    }

    .review-section-inner {
        display: flex;
        flex-direction: column;
    }

    .banner-img {
        width: 100%;
        height: 430px;
    }

    .qustion-banner {

        align-items: center;
    }

}


@media (max-width:768px) {

    /* html {
        font-size: 45%;
    } */
    header {
        padding: 1.25rem 1.063rem;
    }

    .banner-img {
        width: 100%;
        height: 340px;
    }

    .banner-details-text1 {
        max-width: 700px;
    }

    .specialty-content {
        gap: 2rem;
    }

    .qus-box-text {
        font-size: 1.5rem;
    }

    .specialty-content-text {
        gap: 18px;
        max-width: 680px;
    }

    .mri-img {
        height: 284px;
    }

    .appointment-inner {
        gap: 40px;
    }

    .footer-desctiption .footer-desctiption-text {
        max-width: 385px;
    }

    .location-name {
        font-size: 0.875rem;
    }

    .contactno {
        padding: 0.4rem 0.7rem;
    }

    .info {
        gap: 20px;
    }

    .our-contact {
        flex-direction: column;
    }

    .specialty-inner {
        flex-direction: column;
    }

    .specialty-content-images .swiper-pagination {
        bottom: 0 !important;
    }

    .counting h2 {
        font-size: 7.6rem;
    }

    .counting span {
        font-size: 3.3rem;
    }

    .reviewes-inner {
        padding: 50px;
    }

    .banner-details-text2 p {
        font-size: 0.875rem;
    }

    :root {
        --h2: 3rem;
    }

    .specialty-content-images.swiper {
        padding-bottom: 8rem;
    }

    .step-no {
        width: 106px;
        height: 106px;
    }

    .stepes1::before {
        content: "------------";
        position: absolute;
        transform: rotate(1.5708rad);
        bottom: -50px;
        left: 5px;
        color: #8ba0e9;
    }

    .qustion-banner .qustion-banner-img {
        width: 100%;
        height: 433px;

    }

    .footer-desctiption .footer-desctiption-text {
        max-width: 600px;
    }

    .footer-inner .company-soscial-logo {

        gap: 10px;
    }

    .reviewes-inner p {
        font-size: 1.2rem;
    }

    .swiper {
        width: 95%;
        height: 400px;
    }

    .appointment-setps {
        align-items: center;
    }

    .report-no {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .complete-scean p {
        max-width: 270px;
        font-size: 2rem;
    }

    .footer-desctiption {

        gap: 16px;
        justify-content: space-between;
        flex-direction: column;
    }

    .overall-report {
        margin-top: 42px;
    }

    .strok {
        margin: 50px 0px 50px 0px;
    }

    .appointment {
        margin-top: 50px;
        padding: 55px 0px 55px 0px;
    }

    .mri-img-text p {
        font-size: 1.4rem;
        max-width: 356px;
    }

    .mri-img-text {
        bottom: 30px;
    }
}

@media (max-width: 640px) {
    .banner-img {
        width: 100%;
        height: 282px;
    }

    .specialty-content-text {
        gap: 16px;
        max-width: 600px;
    }

    .specialty-content-images.swiper {
        padding-bottom: 7rem;
    }

    .appointment-setps {
        gap: 58px;
    }

    .location {
        display: none;
    }

    .logo {
        width: 60px;
    }

    .stepes1::before {
        display: none;
    }

    .stepes {
        flex-direction: column;
        max-height: max-content;
        gap: 8px;
    }

    .specialty-content-img {
        height: 420px;
    }

    .appointment-setps-inner {
        gap: 24px;
    }

    .banner-details {
        gap: 1.25rem;
    }

    .banner-details-text1 h2 {
        line-height: 58px;
    }

    .specialty-content {
        gap: 1.5rem;
    }

    .counting h2 {
        font-size: 7.7rem;
    }

    .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 45% !important;
        transform: translateX(-50%) !important;
    }

    .strok {
        margin: 40px 0px 40px 0px;
    }

    .review-section {
        margin: 35px 0px 35px 0px;
    }

    .mri-img {
        height: 236px;
    }

    .mri-img-text p {
        font-size: 1.2rem;
        max-width: 318px;
    }

    .mri-img-inner .mri-img-content {
        gap: 45px;
    }

    .qustions {
        padding: 35px 0px 35px 0px;
    }

    .qustion-banner .qustion-banner-img {
        width: 100%;
        height: 365px;
    }

    .qus-box-text p {
        max-width: 430px;
    }
}

@media (max-width: 480px) {
    .footer-options {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }
    :root {
        --h2: 2.7rem;
    }
    .counting {
        width: 100%;
    }

    .counting h2 {
        font-size: 6.6rem;
    }

    .counting span {
        font-size: 2.5rem;
    }
    .complete-scean p {
        font-size: 1.7rem;
    }
    .specialty-inner {
        flex-direction: column;
    }

    .footer-inner .footer-logos .company-logo {
        width: 184px;
    }

    .footer-options .our-contact {
        align-items: flex-start;
    }

    .reviewes-inner p {
        font-size: 1rem;
    }
    .appointment-img-inner {

        height: auto;
    }
    .mri-img {
        height: 170px;
    }

    .mri-img-text p {
        font-size: 1.1rem;
        max-width: 295px;
    }
    .qus-box-text p {
        font-size: 1.3rem;
    }
    .qustion-banner .qustion-banner-img {
        height: 276px;
    }

}

@media (max-width: 426px) {
    :root {
        --h2: 2rem;
    }

    .banner-details-text1 h2 {
        line-height: 49px;
    }

    .banner-details {
        gap: 1.25rem;
    }

    .banner {
        gap: 46px;
    }

    .counting h2 {
        font-size: 5.7rem;
    }

    .review-scroll1 {
        img {

            width: 40px;
        }
    }

    .banner-img {
        width: 100%;
        height: 188px;
    }

    .overall-report {
        margin-top: 50px;
    }

    .appointment {
        margin-top: 65px;
    }

    .complete-scean p {
        font-size: 1.7rem;
    }

    .appointment-setps-inner {
        margin-bottom: 40px;
    }

    .appointment {
        padding: 80px 0px 60px 0px;
    }

    .reviewes-inner p {
        font-size: 0.875rem;
    }

    .specialty-content-text1 {
        line-height: 45px;
    }

    .swiper {
        height: 410px;
    }

    .review-scroll {

        right: 45px;
    }

    .mri-img-inner .mri-img-content .mri-content-title {
        align-items: center;
    }

    .mri-img-inner .mri-img-content .mri-content-title .mri-content-title-text2 p {
        text-align: center;
    }

    .qustion-banner .qustion-banner-img {
        height: 242px;
    }

    .mri-img {
        height: 150px;
    }

    .qustion-banner-title {
        line-height: 120%;
    }

    .qustions {
        padding: 65px 0px 65px 0px;
    }

    .qus-box-text p {
        font-size: 1rem;
    }

    .qus-box-text svg {
        font-size: 1rem;
    }

    .qus-box-text p {
        max-width: 290px;
    }

    .footer-options {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }

    .our-location .location-option {
        gap: 50px;
    }

    .footer-options .our-contact {
        gap: 22px;
        align-items: flex-start;
    }

    .footer-inner .footer-logos .company-logo {
        width: 142px;
    }

    .footer-inner .footer-logos {
        flex-direction: column;
        gap: 27px;
    }

    .mri-img-text p {
        font-size: 0.875rem;
        max-width: 234px;
    }

    .mri-img-text {
        bottom: 18px;
    }

    .appointment-img-inner {
        width: 100%;
        height: auto;
    }
    .logo-icon{
        width: 160px;
    }
    .contactno {
        padding: 0.3rem 0.5rem;
    }
    .contactno img{
width: 22px;
    }
}

@media (max-width: 375px) {
    :root {
        --h2: 1.3rem;
    }

    .banner-details-text1 h2 {
        line-height: 33px;
    }

    .counting h2 {
        font-size: 4.7rem;
    }

    .report-no {
        gap: 16px;
    }
    .specialty-content-images.swiper {
        padding-bottom: 9rem;
    }
    .strok {
        margin: 30px 0px 30px 0px;
    }

    .specialty-content-text {
        gap: 10px;
    }

    .specialty-content-text2 {
        max-height: 100px;
    }

    .content-img-text {
        max-width: 226px;
        font-size: 1.8rem;
    }

    .logo {
        width: 61px;
    }
    .minus-icon {
        width: 36px;
        height: 36px;
    }
    .information-inner {
        padding: 0;
    }

    .contactno img {
        display: none;
    }

    .counting h2 {
        font-size: 5rem;
    }

    .counting span {
        font-size: 3rem;
    }

    .complete-scean p {
        font-size: 1rem;
    }

    .step-instraction-text1 {
        font-size: 1.2rem;
    }

    .appointment-setps-inner {
        gap: 158px;
    }

    .our-location .location-option {
        gap: 20px;
    }

    .reviewes-inner {
        padding: 40px;
    }

    .swiper-buttonprev {
        font-size: 1rem;
    }

    .appointment-setps-inner {
        gap: 33px;
    }

    .mri-img-text {
        bottom: 10px;
    }

    .mri-img-text p {
        font-size: 0.875rem;
        max-width: 209px;
    }

    .qustion-banner .qustion-banner-img {
        height: 170px;
    }

    .mri-img {
        height: 107px;
    }

    .about-img {
        max-height: 194px;
    }
}

@media (max-width:320px) {
    .counting h2 {
        font-size: 4.2rem;
    }

    .counting span {
        font-size: 2rem;
    }
}